<div class="d-flex justify-content-center">
  <p class="text-center">
    Renda bruta total:
    <span class="fw-bold ms-2">
      <%= number_to_currency(@total_gross_income) %>
    </span>
  </p>
</div>
